%h1 SQL2AR
%h2 A SQL to Rails Active Record query translator

.row
  .twelve.columns
    #sql
      = render 'sql_form'
    #ar
      = render 'ar_form'

#footer
  = link_to image_tag('gray_whale.png'), 'https://github.com/joofsh'
  = link_to 'Made by J.D. Pagano', 'https://github.com/joofsh'
