%h1 SQL2AR
%h2 A SQL to Rails Active Record query translator

#converter-form
  #sql
    = render 'sql_form'
  #ar
    = render 'ar_form'

#quick-tips
  %h3 Quick Tips:
  %p This is a tool for helping developers new to Rails learn the Active Record syntax.
  %p SQL2AR is currently in Beta.

#footer
  = link_to image_tag('gray_whale.png'), 'https://github.com/joofsh'
  = link_to 'Made by J.D. Pagano', 'https://github.com/joofsh'
