
$nudge: 10px

//colors
$green-blue: #009999
$brand-color1: $green-blue
$green-blue2: #1D7373
$brand-color2: $green-blue2
$green-blue3: #006363
$brand-color3: $green-blue3

$light-gray: tint(rgb(0,0,0), 70%)
$darker-gray: tint(rgb(0,0,0), 50%)
$almost-black: tint(rgb(0,0,0), 20%)
